<%- include ("./templates/_header") %>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="/">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <h4> Pomodoro Task Manager </h4>
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <img src="images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="/form-editor"><i class="icon-user"></i> <span>Tareas</span></a>
                                        </li>
                                        <hr class="my-2">
                                        <li><a href="/logoff"><i class="icon-key"></i> <span>Cerrar Sesión</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="" href="/" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Página de inicio</span>
                        </a>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Iniciar sesión</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/page-login">Iniciar sesión</a></li>
                            <li><a href="/page-register">Registro</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="" href="/widgets" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Planificador de tareas</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="/app-profile" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Perfil</span>
                        </a>
                    </li> -->
                    <li>
                        <a class="" href="/logoff" aria-expanded="false">
                            <i class="icon-note menu-icon"></i><span class="nav-text">Cerrar sesión</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Tareas</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Editar</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <input type="" class="form-control" placeholder="Fecha Entrega">
                                </div>
                                <h3> Titulo </h3>
                                <div class="summernote">
                                    <h4> Descripción </h4>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <button id="save" class="btn btn-success btn-rounded" onclick="save()" type="button">Guardar</button>
                                <button id="delete" class="btn btn-danger btn-rounded" onclick="" type="button">Borrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
<%- include ("./templates/_footer") %>